//
// BASE CSS - VARIABLES
//

	// Typography
	$base-serif-font-family: Georgia, sans-serif;
    $base-sans-serif-font-family: 'latolight', sans-serif;
	$base-font-weight: normal;
	$base-font-size: 13px;
	$base-line-height: 1.4;

    // Colors
    $base-text-color: #1a1a1a;
    $heading-text-color: #1a1a1a;
    $subheading-text-color: #737373;
    $base-link-color: #737373;
    $border-light-color: #efefef;
    $border-dark-color: #e8e8e8;
