@import 'slick';
@import 'slick-theme';


.gallery {
    .heading {
        font-family: $base-sans-serif-font-family;
        color: $heading-text-color;
        text-align: center;
        font-size: em(18);
        @include tablet { font-size: em(20); text-align: left;}
        @include desktop { font-size: em(20); text-align: left;}

        padding: 3% 1%;

        .homelink {
            padding-right: 0;
            margin-right: 8px;

            img {
                height: 24px;
                margin-top: -4px;
                margin-right: 4px;
                vertical-align: middle;
                @include tablet {
                    height: 30px;
                    margin-top: -6px;
                    margin-right: 6px;
                }
                @include desktop {
                    height: 40px;
                    margin-top: -8px;
                    margin-right: 8px;
                }
            }
        }

        a.homelink:hover{
            border-bottom: 1px solid transparent;
        }

        .pagetitle {
            padding-left: 12px;
            border-left: 1px solid $border-light-color;
        }
    }

    .projects{
        padding: 1%;

        .heading {
            font-size: em(20);
            @include tablet { font-size: em(22); }
            @include desktop { font-size: em(22); }

            padding: 1% 0;
            overflow: hidden;
            height: 30px;
            @include tablet { height: 40px; }
            @include desktop { height: 50px; }

            border-bottom: 1px solid $border-light-color;

            img {
                max-height: 100%;
                vertical-align: middle;
                float: left;
            }

            .name {
                margin-top: 1%;
                float: right;
            }
        }

        .slick-wrap {
            position: relative;
            width: 100%;
            padding-top: 12px;
        }

        .slide-content {
            position: relative;
            max-width: 100%;
            height: 100%;
            margin: 0 auto;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;

            img {
                max-width: 100%;
            }

            .caption {
                position: absolute;
                bottom: 0;
                right: 0;
                width: calc(100% - 48px);
                max-height: 25%;
                padding: 14px 24px;
                overflow: auto;
                font-family: $base-serif-font-family;
                font-size: em(12);
                @include tablet {
                    font-size: em(10);
                    background-color: $overlay-bg-color;
                    color: $light-text-color;
                }
                @include desktop {
                    font-size: em(10);
                    background-color: $overlay-bg-color;
                    color: $light-text-color;
                }

                @include transition(all, 0.4s, $bezier-out);

                em {
                    display: none;
                    color: $base-link-color;
                    float: right;
                    cursor: pointer;
                    border-bottom: 1px solid transparent;

                    @include tablet { display: inline; }
                    @include desktop { display: inline; }
                }

                em:hover {
                    border-bottom: 1px solid $base-link-color;
                }

                .caption-text {
                    opacity: 1.0;
                    @include transition(all, 0.9s, $bezier-out);
                }
            }

            .caption.collapsed {
                width: 40px;

                .caption-text {
                    opacity: 0;
                }
            }
        }

    }
}
