.landing-wrap{
    position: relative;
    width: 100%;
    height: 100%;
}

.heading {
    font-family: $base-sans-serif-font-family;
    font-size: em(28);
    @include tablet { font-size: em(32); }
    @include desktop { font-size: em(42); }
    color: $heading-text-color;
}

.blurb {
    width: 60%;
    margin: 4% auto 6%;
    font-family: $base-serif-font-family;
    font-size: em(14);
    @include tablet { font-size: em(14); }
    @include desktop { font-size: em(14); }
    color: $subheading-text-color;
}

.nav {
    max-width: 80%;
    margin: 4% auto;
}

.nav-btn {
    padding: 0.5% 1%;
    margin: 0 8px;
}
