<div class="home landing-wrap show-table" ng-style="{'height': window_height + 'px'}">
    <div class="landing centered show-table-cell">
        <!-- <div class="logo">
            <img src="assets/logo_amish_shah.png"/>
        </div> -->
        <div class="heading">
            AMISH SHAH
        </div>

        <div class="blurb">
            <p>
                Web application design and development consultant based in Canada. Born and raised in Mumbai, India.
            </p>
            <br/>
            <p>
                Currently, I live in Vancouver, BC with my wife and my dog.
            </p>
        </div>

        <div class="nav">
            <a class="nav-btn resume"
                href="assets/resume.pdf"
                target="_blank"
                >
                <i class="fa fa-file-pdf-o"></i>&nbsp;
                RESUME
            </a>
            &middot;
            <a href ui-sref="gallery" class="nav-btn gallery">
                <i class="fa fa-image"></i>&nbsp;
                GALLERY
            </a>
        </div>
    </div>
</div>
