/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 18, /Users/amish/localrepo/amishpshah_www/src/prop/scss/reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 26, /Users/amish/localrepo/amishpshah_www/src/prop/scss/reset */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 29, /Users/amish/localrepo/amishpshah_www/src/prop/scss/reset */
body {
  line-height: 1.3; }

/* line 32, /Users/amish/localrepo/amishpshah_www/src/prop/scss/reset */
ol, ul {
  list-style: none; }

/* line 35, /Users/amish/localrepo/amishpshah_www/src/prop/scss/reset */
blockquote, q {
  quotes: none; }

/* line 39, /Users/amish/localrepo/amishpshah_www/src/prop/scss/reset */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

/* line 43, /Users/amish/localrepo/amishpshah_www/src/prop/scss/reset */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 9, /Users/amish/localrepo/amishpshah_www/src/prop/scss/main */
html {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  font-size: 18px;
  font-family: 'Arvo', serif;
  text-rendering: optimizeLegibility; }

/* line 22, /Users/amish/localrepo/amishpshah_www/src/prop/scss/main */
.wrap {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

/* line 30, /Users/amish/localrepo/amishpshah_www/src/prop/scss/main */
.viewport {
  position: fixed;
  width: 900px;
  height: 600px;
  margin: auto auto;
  /* border: 1px solid red; */ }

/* line 39, /Users/amish/localrepo/amishpshah_www/src/prop/scss/main */
.scene {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }
  /* line 46, /Users/amish/localrepo/amishpshah_www/src/prop/scss/main */
  .scene .poem {
    width: 60%;
    margin: 0 auto;
    font-size: 1.6em;
    text-align: center; }
    /* line 51, /Users/amish/localrepo/amishpshah_www/src/prop/scss/main */
    .scene .poem p {
      margin: 0.2em 0; }

/* line 57, /Users/amish/localrepo/amishpshah_www/src/prop/scss/main */
.scene1 {
  color: #ffe; }
  /* line 60, /Users/amish/localrepo/amishpshah_www/src/prop/scss/main */
  .scene1 .sprite {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }
  /* line 66, /Users/amish/localrepo/amishpshah_www/src/prop/scss/main */
  .scene1 .aBase {
    background-image: url('assets/a.svg');
    width: 163px;
    height: 300px;
    position: absolute;
    bottom: 0px;
    left: 240px; }

/*# sourceMappingURL=style.css.map */