
$viewportWidth: 900px;
$viewportHeight: 600px;
$baseFontSize: 18px;
$baseFontFamily: 'Arvo', serif;

$scene1Color: #ffe;

html {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	font-size: $baseFontSize;
	font-family: $baseFontFamily;
	text-rendering: optimizeLegibility;
}

.wrap {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.viewport {
	position: fixed;
	width: $viewportWidth;
	height: $viewportHeight;
	margin: auto auto;

	/* border: 1px solid red; */
}

.scene {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

	.poem {
		width: 60%;
		margin: 0 auto;
		font-size: 1.6em;
		text-align: center;
		p {
			margin: 0.2em 0;
		}
	}
}

.sprite {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.feature {
	position: absolute;
}

.scene1 {
	color: $scene1Color;

	@import 'sprite_a';
	@import 'sprite_p';
}