.sf {
	/* width: 163px;
	height: 300px; */
	width: 352px;
	height: 321px;
	position: absolute;
	bottom: 40px;
	right: 0px;

	.clouds {
		background-image: url('assets/clouds.svg');
		width: 352px;
		height: 50px;
		top: 0px;
		left: 0px;
		background-position: 0 0;
		background-size: 352px 50px;
		background-repeat: repeat-x;
	}

	.bridge {
		width: 352px;
		height: 182px;
		top: 47px;
		right: 0px;
	}

	.water {
		background-image: url('assets/water.svg');
		width: 352px;
		height: 102px;
		bottom: 0px;
		right: 0px;
		background-position: 0 0;
		background-size: 352px 102px;
		background-repeat: repeat-x;
	}
}
