.pBase {
	background-image:url('assets/p.svg');
	/* width: 163px;
	height: 300px; */
	width: 191.7px;
	height: 400px;
	position: absolute;
	bottom: 0px;
	right: 240px;

	.hair_front_main {
		width: 180.6px;
		height: 157.2px;
		top: 9px;
		left: 11px;
	}

	.hair_bang_bottom {
		width: 80px;
		height: 80px;
		top: 35px;
		left: 62px;
	}

	.hair_bang_top {
		width: 91.5px;
		height: 76px;
		top: 34px;
		left: 58px;
	}
}