.pBase {
	background-image:url('assets/p.svg');
	/* width: 163px;
	height: 300px; */
	width: 191.7px;
	height: 400px;
	position: absolute;
	bottom: 0px;
	right: 240px;

	.eyebrows {
		width: 149px;
		height: 9px;
		top: 98px;
		left: 45px;
	}
}